.SongListPage {
  width:100%;
  display: flex;
  background-color: var(--bg-color);
  flex-direction: column;
  flex: 0 1;
  max-height: 100%;
  overflow: auto;
}


.SongListPageInfo {
  display: flex;
  background-color: var(--bg-color);
  margin: 2rem;
}

.SongListPageInfo-img {
  position: relative;
  width: 18rem;
  height: 18rem;
  outline: 1px solid #ddd;
  border-radius: .8rem;
  overflow: hidden;
  padding: 0;
  margin-right: 2rem;
}

.SongListPageInfo-img img {
  position: relative;
  width: 100%;
  vertical-align: bottom;
  font-size: 0;
}

.SongListPageInfo-user {
  height: 4.3rem;
  color: #666;
}

.SongListPageInfo-intro {
  font-size: 1.3rem;
}

.SongListPage-tab {
  display: flex;
  padding: 1rem 2rem;
  font-size: 1.4rem;
  margin-bottom: .8rem;
}

.SongListPage-tab li {
  margin: 0 1rem;
}

.SongListPage-tab .active {
  position: relative;
  font-weight: bold;
  font-size: 1.7rem;
}

.SongListPage-tab .active::after {
  content: '';
  position: absolute;
  width: 80%;
  height: .3rem;
  background-color: var(--btn-color);
  bottom: -.4rem;
  left: 10%;
}

.SongListPageDetail {
  display: flex;
  flex-direction: column;
}
